<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_android_mission_finish_detail">
    <resultMap id="BaseResultMap" type="com.hongbao.api.model.ReAndroidMissionFinishDetail">
        <id column="detail_id" property="detailId" jdbcType="BIGINT"/>
        <result column="mission_id" property="missionId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="start_day" property="startDay" jdbcType="VARCHAR"/>
        <result column="mission_no" property="missionNo" jdbcType="TINYINT"/>
        <result column="mission_money" property="missionMoney" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT detail_id, mission_id, user_id, start_day, mission_no, 
        mission_money, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.hongbao.api.model.ReAndroidMissionFinishDetail">
        <include refid="re_android_mission_finish_detail.SELECT_All_Column"/>
        FROM re_android_mission_finish_detail
        WHERE detail_id = #{detailId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.hongbao.api.model.ReAndroidMissionFinishDetail">
        DELETE FROM re_android_mission_finish_detail
        WHERE detail_id = #{detailId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.hongbao.api.model.ReAndroidMissionFinishDetail">
        INSERT INTO re_android_mission_finish_detail ( mission_id, 
          user_id, start_day, mission_no, 
          mission_money, create_time, update_time )
        VALUES ( #{missionId,jdbcType=BIGINT}, 
          #{userId,jdbcType=INTEGER}, #{startDay,jdbcType=VARCHAR}, #{missionNo,jdbcType=TINYINT}, 
          #{missionMoney,jdbcType=DECIMAL}, #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR} )
        <selectKey keyProperty="detailId" resultType="long">
            SELECT LAST_INSERT_ID() AS detailId
        </selectKey>
    </insert>
    <insert id="insertSelective" parameterType="com.hongbao.api.model.ReAndroidMissionFinishDetail">
        INSERT INTO re_android_mission_finish_detail
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="missionId != null">
                mission_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="startDay != null">
                start_day,
            </if>
            <if test="missionNo != null">
                mission_no,
            </if>
            <if test="missionMoney != null">
                mission_money,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="missionId != null">
                #{missionId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="startDay != null">
                #{startDay,jdbcType=VARCHAR},
            </if>
            <if test="missionNo != null">
                #{missionNo,jdbcType=TINYINT},
            </if>
            <if test="missionMoney != null">
                #{missionMoney,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
        </trim>
        <selectKey keyProperty="detailId" resultType="long">
            SELECT LAST_INSERT_ID() AS detailId
        </selectKey>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO re_android_mission_finish_detail ( mission_id, 
          user_id, start_day, mission_no, 
          mission_money, create_time, update_time )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.missionId,jdbcType=BIGINT}, 
            #{item.userId,jdbcType=INTEGER}, #{item.startDay,jdbcType=VARCHAR}, #{item.missionNo,jdbcType=TINYINT}, 
            #{item.missionMoney,jdbcType=DECIMAL}, #{item.createTime,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hongbao.api.model.ReAndroidMissionFinishDetail">
        UPDATE re_android_mission_finish_detail
        <set>
            <if test="missionId != null">
                mission_id = #{missionId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="startDay != null">
                start_day = #{startDay,jdbcType=VARCHAR},
            </if>
            <if test="missionNo != null">
                mission_no = #{missionNo,jdbcType=TINYINT},
            </if>
            <if test="missionMoney != null">
                mission_money = #{missionMoney,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE detail_id = #{detailId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hongbao.api.model.ReAndroidMissionFinishDetail">
        UPDATE re_android_mission_finish_detail
        SET mission_id = #{missionId,jdbcType=BIGINT},
            user_id = #{userId,jdbcType=INTEGER},
            start_day = #{startDay,jdbcType=VARCHAR},
            mission_no = #{missionNo,jdbcType=TINYINT},
            mission_money = #{missionMoney,jdbcType=DECIMAL},
            create_time = #{createTime,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=VARCHAR}
        WHERE detail_id = #{detailId,jdbcType=BIGINT}
    </update>
</mapper>