<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_android_mission_depth">

    <select id="selectAllByMissionId" resultMap="BaseResultMap" parameterType="Long">
        <include refid="re_android_mission_depth.SELECT_All_Column"/>
        FROM re_android_mission_depth
        WHERE mission_id = #{missionId,jdbcType=BIGINT}
        ORDER BY depth_id ASC
    </select>

</mapper>