<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_article_ad">
    <resultMap id="BaseResultMap" type="com.hongbao.api.model.ReArticleAd">
        <id column="ad_id" property="adId" jdbcType="BIGINT"/>
        <result column="article_id" property="articleId" jdbcType="BIGINT"/>
        <result column="ad_icon" property="adIcon" jdbcType="VARCHAR"/>
        <result column="ad_url" property="adUrl" jdbcType="VARCHAR"/>
        <result column="ad_order" property="adOrder" jdbcType="TINYINT"/>
        <result column="is_display" property="isDisplay" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT ad_id, article_id, ad_icon, ad_url, ad_order, 
        is_display, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.hongbao.api.model.ReArticleAd">
        <include refid="re_article_ad.SELECT_All_Column"/>
        FROM re_article_ad
        WHERE ad_id = #{adId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.hongbao.api.model.ReArticleAd">
        DELETE FROM re_article_ad
        WHERE ad_id = #{adId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.hongbao.api.model.ReArticleAd">
        INSERT INTO re_article_ad ( article_id, 
          ad_icon, ad_url, ad_order, 
          is_display, create_time, update_time )
        VALUES ( #{articleId,jdbcType=BIGINT}, 
          #{adIcon,jdbcType=VARCHAR}, #{adUrl,jdbcType=VARCHAR}, #{adOrder,jdbcType=TINYINT}, 
          #{isDisplay,jdbcType=TINYINT}, #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR} )
        <selectKey keyProperty="adId" resultType="long">
            SELECT LAST_INSERT_ID() AS adId
        </selectKey>
    </insert>
    <insert id="insertSelective" parameterType="com.hongbao.api.model.ReArticleAd">
        INSERT INTO re_article_ad
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="articleId != null">
                article_id,
            </if>
            <if test="adIcon != null">
                ad_icon,
            </if>
            <if test="adUrl != null">
                ad_url,
            </if>
            <if test="adOrder != null">
                ad_order,
            </if>
            <if test="isDisplay != null">
                is_display,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="articleId != null">
                #{articleId,jdbcType=BIGINT},
            </if>
            <if test="adIcon != null">
                #{adIcon,jdbcType=VARCHAR},
            </if>
            <if test="adUrl != null">
                #{adUrl,jdbcType=VARCHAR},
            </if>
            <if test="adOrder != null">
                #{adOrder,jdbcType=TINYINT},
            </if>
            <if test="isDisplay != null">
                #{isDisplay,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
        </trim>
        <selectKey keyProperty="adId" resultType="long">
            SELECT LAST_INSERT_ID() AS adId
        </selectKey>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO re_article_ad ( article_id, 
          ad_icon, ad_url, ad_order, 
          is_display, create_time, update_time )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.articleId,jdbcType=BIGINT}, 
            #{item.adIcon,jdbcType=VARCHAR}, #{item.adUrl,jdbcType=VARCHAR}, #{item.adOrder,jdbcType=TINYINT}, 
            #{item.isDisplay,jdbcType=TINYINT}, #{item.createTime,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hongbao.api.model.ReArticleAd">
        UPDATE re_article_ad
        <set>
            <if test="articleId != null">
                article_id = #{articleId,jdbcType=BIGINT},
            </if>
            <if test="adIcon != null">
                ad_icon = #{adIcon,jdbcType=VARCHAR},
            </if>
            <if test="adUrl != null">
                ad_url = #{adUrl,jdbcType=VARCHAR},
            </if>
            <if test="adOrder != null">
                ad_order = #{adOrder,jdbcType=TINYINT},
            </if>
            <if test="isDisplay != null">
                is_display = #{isDisplay,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE ad_id = #{adId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hongbao.api.model.ReArticleAd">
        UPDATE re_article_ad
        SET article_id = #{articleId,jdbcType=BIGINT},
            ad_icon = #{adIcon,jdbcType=VARCHAR},
            ad_url = #{adUrl,jdbcType=VARCHAR},
            ad_order = #{adOrder,jdbcType=TINYINT},
            is_display = #{isDisplay,jdbcType=TINYINT},
            create_time = #{createTime,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=VARCHAR}
        WHERE ad_id = #{adId,jdbcType=BIGINT}
    </update>
</mapper>