<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_mission_require">
    <resultMap id="BaseResultMap" type="com.hongbao.api.model.ReMissionRequire">
        <id column="require_id" property="requireId" jdbcType="BIGINT"/>
        <result column="require_name" property="requireName" jdbcType="VARCHAR"/>
        <result column="require_value" property="requireValue" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT require_id, require_name, require_value
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.hongbao.api.model.ReMissionRequire">
        <include refid="re_mission_require.SELECT_All_Column"/>
        FROM re_mission_require
        WHERE require_id = #{requireId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.hongbao.api.model.ReMissionRequire">
        DELETE FROM re_mission_require
        WHERE require_id = #{requireId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.hongbao.api.model.ReMissionRequire">
        INSERT INTO re_mission_require ( require_name, 
          require_value )
        VALUES ( #{requireName,jdbcType=VARCHAR}, 
          #{requireValue,jdbcType=VARCHAR} )
        <selectKey keyProperty="requireId" resultType="long">
            SELECT LAST_INSERT_ID() AS requireId
        </selectKey>
    </insert>
    <insert id="insertSelective" parameterType="com.hongbao.api.model.ReMissionRequire">
        INSERT INTO re_mission_require
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="requireName != null">
                require_name,
            </if>
            <if test="requireValue != null">
                require_value,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="requireName != null">
                #{requireName,jdbcType=VARCHAR},
            </if>
            <if test="requireValue != null">
                #{requireValue,jdbcType=VARCHAR},
            </if>
        </trim>
        <selectKey keyProperty="requireId" resultType="long">
            SELECT LAST_INSERT_ID() AS requireId
        </selectKey>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO re_mission_require ( require_name, 
          require_value )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.requireName,jdbcType=VARCHAR}, 
            #{item.requireValue,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hongbao.api.model.ReMissionRequire">
        UPDATE re_mission_require
        <set>
            <if test="requireName != null">
                require_name = #{requireName,jdbcType=VARCHAR},
            </if>
            <if test="requireValue != null">
                require_value = #{requireValue,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE require_id = #{requireId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hongbao.api.model.ReMissionRequire">
        UPDATE re_mission_require
        SET require_name = #{requireName,jdbcType=VARCHAR},
            require_value = #{requireValue,jdbcType=VARCHAR}
        WHERE require_id = #{requireId,jdbcType=BIGINT}
    </update>
</mapper>