<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_password_red">
    <resultMap id="BaseResultMap" type="com.hongbao.api.model.RePasswordRed">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="red_password" property="redPassword" jdbcType="VARCHAR"/>
        <result column="total_num" property="totalNum" jdbcType="INTEGER"/>
        <result column="left_num" property="leftNum" jdbcType="INTEGER"/>
        <result column="min_money" property="minMoney" jdbcType="DECIMAL"/>
        <result column="max_money" property="maxMoney" jdbcType="DECIMAL"/>
        <result column="end_time" property="endTime" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT id, red_password, total_num, left_num, min_money, 
        max_money, end_time, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.hongbao.api.model.RePasswordRed">
        <include refid="re_password_red.SELECT_All_Column"/>
        FROM re_password_red
        WHERE id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.hongbao.api.model.RePasswordRed">
        DELETE FROM re_password_red
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.hongbao.api.model.RePasswordRed">
        INSERT INTO re_password_red ( red_password, 
          total_num, left_num, min_money, 
          max_money, end_time, create_time, 
          update_time )
        VALUES ( #{redPassword,jdbcType=VARCHAR}, 
          #{totalNum,jdbcType=INTEGER}, #{leftNum,jdbcType=INTEGER}, #{minMoney,jdbcType=DECIMAL}, 
          #{maxMoney,jdbcType=DECIMAL}, #{endTime,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
          #{updateTime,jdbcType=VARCHAR} )
        <selectKey keyProperty="id" resultType="long">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>
    <insert id="insertSelective" parameterType="com.hongbao.api.model.RePasswordRed">
        INSERT INTO re_password_red
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="redPassword != null">
                red_password,
            </if>
            <if test="totalNum != null">
                total_num,
            </if>
            <if test="leftNum != null">
                left_num,
            </if>
            <if test="minMoney != null">
                min_money,
            </if>
            <if test="maxMoney != null">
                max_money,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="redPassword != null">
                #{redPassword,jdbcType=VARCHAR},
            </if>
            <if test="totalNum != null">
                #{totalNum,jdbcType=INTEGER},
            </if>
            <if test="leftNum != null">
                #{leftNum,jdbcType=INTEGER},
            </if>
            <if test="minMoney != null">
                #{minMoney,jdbcType=DECIMAL},
            </if>
            <if test="maxMoney != null">
                #{maxMoney,jdbcType=DECIMAL},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
        </trim>
        <selectKey keyProperty="id" resultType="long">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO re_password_red ( red_password, 
          total_num, left_num, min_money, 
          max_money, end_time, create_time, 
          update_time )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.redPassword,jdbcType=VARCHAR}, 
            #{item.totalNum,jdbcType=INTEGER}, #{item.leftNum,jdbcType=INTEGER}, #{item.minMoney,jdbcType=DECIMAL}, 
            #{item.maxMoney,jdbcType=DECIMAL}, #{item.endTime,jdbcType=VARCHAR}, #{item.createTime,jdbcType=VARCHAR}, 
            #{item.updateTime,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hongbao.api.model.RePasswordRed">
        UPDATE re_password_red
        <set>
            <if test="redPassword != null">
                red_password = #{redPassword,jdbcType=VARCHAR},
            </if>
            <if test="totalNum != null">
                total_num = #{totalNum,jdbcType=INTEGER},
            </if>
            <if test="leftNum != null">
                left_num = #{leftNum,jdbcType=INTEGER},
            </if>
            <if test="minMoney != null">
                min_money = #{minMoney,jdbcType=DECIMAL},
            </if>
            <if test="maxMoney != null">
                max_money = #{maxMoney,jdbcType=DECIMAL},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hongbao.api.model.RePasswordRed">
        UPDATE re_password_red
        SET red_password = #{redPassword,jdbcType=VARCHAR},
            total_num = #{totalNum,jdbcType=INTEGER},
            left_num = #{leftNum,jdbcType=INTEGER},
            min_money = #{minMoney,jdbcType=DECIMAL},
            max_money = #{maxMoney,jdbcType=DECIMAL},
            end_time = #{endTime,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=VARCHAR},
            update_time = #{updateTime,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>