<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_password_red_detail">
    <resultMap id="BaseResultMap" type="com.hongbao.api.model.RePasswordRedDetail">
        <id column="password_id" property="passwordId" jdbcType="BIGINT"/>
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="money" property="money" jdbcType="DECIMAL"/>
        <result column="receive_time" property="receiveTime" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT password_id, user_id, money, receive_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.hongbao.api.model.RePasswordRedDetail">
        <include refid="re_password_red_detail.SELECT_All_Column"/>
        FROM re_password_red_detail
        WHERE password_id = #{passwordId,jdbcType=BIGINT}
        AND user_id = #{userId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.hongbao.api.model.RePasswordRedDetail">
        DELETE FROM re_password_red_detail
        WHERE password_id = #{passwordId,jdbcType=BIGINT}
        AND user_id = #{userId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.hongbao.api.model.RePasswordRedDetail">
        INSERT INTO re_password_red_detail ( password_id, 
          user_id, money, receive_time )
        VALUES ( #{passwordId,jdbcType=BIGINT}, 
          #{userId,jdbcType=INTEGER}, #{money,jdbcType=DECIMAL}, #{receiveTime,jdbcType=VARCHAR} )
    </insert>
    <insert id="insertSelective" parameterType="com.hongbao.api.model.RePasswordRedDetail">
        INSERT INTO re_password_red_detail
        <trim prefix="(" suffixOverrides="," suffix=")">
                password_id,
                user_id,
            <if test="money != null">
                money,
            </if>
            <if test="receiveTime != null">
                receive_time,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
                #{passwordId,jdbcType=BIGINT},
                #{userId,jdbcType=INTEGER},
            <if test="money != null">
                #{money,jdbcType=DECIMAL},
            </if>
            <if test="receiveTime != null">
                #{receiveTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO re_password_red_detail ( password_id, 
          user_id, money, receive_time )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.passwordId,jdbcType=BIGINT}, 
            #{item.userId,jdbcType=INTEGER}, #{item.money,jdbcType=DECIMAL}, #{item.receiveTime,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hongbao.api.model.RePasswordRedDetail">
        UPDATE re_password_red_detail
        <set>
            <if test="money != null">
                money = #{money,jdbcType=DECIMAL},
            </if>
            <if test="receiveTime != null">
                receive_time = #{receiveTime,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE password_id = #{passwordId,jdbcType=BIGINT}
        AND user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hongbao.api.model.RePasswordRedDetail">
        UPDATE re_password_red_detail
        SET money = #{money,jdbcType=DECIMAL},
            receive_time = #{receiveTime,jdbcType=VARCHAR}
        WHERE password_id = #{passwordId,jdbcType=BIGINT}
        AND user_id = #{userId,jdbcType=INTEGER}
    </update>
</mapper>