<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_receive_detail">

    <select id="selectIsReceiveFixedRed" resultMap="BaseResultMap" parameterType="map">
        SELECT detail_id
        FROM re_receive_detail
        WHERE user_id = #{userId,jdbcType=INTEGER}
        AND red_type = 0
        AND red_id = #{redId,jdbcType=INTEGER}
        AND instr(detail_time, #{dayTime,jdbcType=VARCHAR})
    </select>

    <select id="getTop3Detail" resultMap="BaseResultMap" parameterType="map" >
        <include refid="re_receive_detail.SELECT_All_Column"/>
        FROM re_receive_detail
        WHERE red_id = #{redId,jdbcType=INTEGER}
        AND red_type = 0
        AND detail_time LIKE CONCAT('%',#{today,jdbcType=VARCHAR},'%')
        ORDER BY red_order ASC
        LIMIT 3
    </select>

</mapper>