<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_user_andriod_app">

    <delete id="deleteByUserId" parameterType="Integer">
        DELETE FROM re_user_andriod_app
        WHERE user_id = #{userId,jdbcType=INTEGER}
    </delete>

</mapper>