<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_xuanshang_banner">

    <resultMap id="BannerInfoMap" type="com.hongbao.api.model.dto.BannerInfo">
        <result column="banner_img" property="bannerImg" jdbcType="VARCHAR"/>
        <result column="banner_status" property="bannerStatus" jdbcType="TINYINT"/>
        <result column="banner_url" property="bannerUrl" jdbcType="VARCHAR"/>
        <result column="limit_channel_name" property="limitChannelName" jdbcType="VARCHAR"/>
        <result column="limit_package_name" property="limitPackageName" jdbcType="VARCHAR"/>
        <result column="is_show" property="isShow" jdbcType="TINYINT"/>
        <result column="min_version_code" property="minVersionCode" jdbcType="INTEGER"/>
        <result column="max_version_code" property="maxVersionCode" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectNormalBanner" resultMap="BaseResultMap" parameterType="map">
        SELECT banner_img, banner_url
        FROM re_xuanshang_banner
        WHERE ( banner_status = 2 OR banner_status = #{platform,jdbcType=INTEGER} )
        AND min_version_code <![CDATA[ <= ]]> #{versioncode,jdbcType=INTEGER}
        AND max_version_code >= #{versioncode,jdbcType=INTEGER}
        AND ( show_channel_name = '0' OR instr(show_channel_name, #{channelName,jdbcType=VARCHAR}) )
        AND ( show_package_name = '0' OR instr(show_package_name, #{packageName,jdbcType=VARCHAR}) )
        ORDER BY banner_weight DESC
    </select>

    <select id="selectVerifyingBanner" resultMap="BaseResultMap" parameterType="map">
        SELECT banner_img, banner_url
        FROM re_xuanshang_banner
        WHERE ( banner_status = 2 OR banner_status = #{platform,jdbcType=INTEGER} )
        AND min_version_code <![CDATA[ <= ]]> #{versioncode,jdbcType=INTEGER}
        AND max_version_code >= #{versioncode,jdbcType=INTEGER}
        AND ( show_channel_name = '0' OR instr(show_channel_name, #{channelName,jdbcType=VARCHAR}) )
        AND ( show_package_name = '0' OR instr(show_package_name, #{packageName,jdbcType=VARCHAR}) )
        AND is_show = 1
        ORDER BY banner_weight ASC
    </select>

    <select id="selectAllOpen" resultMap="BannerInfoMap">
        SELECT banner_img, banner_status, banner_url, show_channel_name as limit_channel_name, show_package_name as limit_package_name, is_show,
          min_version_code, max_version_code
        FROM re_xuanshang_banner
        WHERE banner_status != 3
        ORDER BY banner_weight DESC
    </select>

</mapper>